{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}
<h1 class="fs-2">
    Web service "Quiz of questions"
</h1>
<p class="fs-3"> Веб-сервис реализованный на Python3 (Flask), выполняющий следующие функции:</p>
<ol class="list-group list-group-numbered">
    <li class="list-group-item">В сервисе должно быть реализован POST REST метод, принимающий на вход запросы с содержимым вида {"questions_num": integer}.</li>
    <li class="list-group-item">После получения запроса сервис, в свою очередь, запрашивает с публичного API (англоязычные вопросы для викторин) https://jservice.io/api/random?count=1 указанное в полученном запросе количество вопросов.</li>
    <li class="list-group-item">Далее, полученные ответы должны сохраняться в базе данных, причем сохранена должна быть как минимум следующая информация (название колонок и типы данный можете выбрать сами, также можете добавлять свои колонки): 1. ID вопроса, 2. Текст вопроса, 3. Текст ответа, 4. - Дата создания вопроса. В случае, если в БД имеется такой же вопрос, к публичному API с викторинами должны выполняться дополнительные запросы до тех пор, пока не будет получен уникальный вопрос для викторины.</li>
    <li class="list-group-item">Ответом на запрос из п.2.a должен быть предыдущей сохранённый вопрос для викторины. В случае его отсутствия - пустой объект.</li>
</ol>
{% endblock %}